// Use on all blocks parent wrapper for consistent spacing.
.block-margin {
    margin-bottom: $global-margin;
}

// blocks/card-repeater.php
.cards-block {
    &__card {
        margin-bottom: $global-margin * 1.5;

        @include breakpoint(large) {
            margin-bottom: 0;
        }

        &.link-box {
            transition: background-color .5s linear;

            &:active,
            &:focus,
            &:hover {
                .cards-block__card-link a {
                    background-color: $secondary-color;
                }
            }
        }
    }

    &__card-image {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &__card-content {
        background-color: $white-smoke;
        padding: $global-padding;

        @include breakpoint(medium) {
            padding: $global-padding * 2;
        }
    }

    &__card-link {
        background-color: $primary-color;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 55px;

        a {
            align-items: center;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            color: $black;
            display: flex;
            font-weight: $global-weight-bold;
            height: 100%;
            justify-content: center;
            transition: background-color .5s linear;
            width: 100%;

            &:active,
            &:focus,
            &:hover {
                background-color: $secondary-color;
                color: $white;
            }
        }
    }

    .grid-x.grid-padding-x {
        div:last-child .cards-block__card {
            margin-bottom: 0;
        }
    }
}

// blocks/latest-news.php
.latest-news {
    background-color: $white-smoke;

    &__card {
        padding: $global-padding;

        @include breakpoint(medium) {
            padding: $global-padding * 2;
        }
    }

    &__image {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    &__card-intro,
    &__card-excerpt {
        @include breakpoint(large) {
            font-size: rem-calc(21);
            padding: $global-padding * 1.5 0;
        }

        @include breakpoint(xxlarge) {
            width: 43ch;
        }
    }

    .grid-x {
        div.cell:nth-child(2) {
            align-items: center;
            display: flex;
        }
    }
}

// blocks/logo-banner.php
.logo-banner {
    &__title {
        margin-bottom: $global-margin * 2;
    }

    &__logos {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: center;
        margin-bottom: 0;
        margin-left: 0;

        @include breakpoint(medium) {
            flex-wrap: nowrap;
        }

        li {
            @include breakpoint(medium) {
                margin-right: $global-margin * 1.5;
            }
        }
    }

    &__image {
        height: auto;
        margin-bottom: $global-margin * 1.5;
        width: auto;

        @include breakpoint(large) {
            margin-bottom: 0;
        }
    }

    .grid-x.grid-padding-x {
        ul li:last-child {
            margin-right: 0;
        }
    }
}

// blocks/accordion.php
.accordion-block {
    &__heading {
        margin-bottom: $global-margin * 2;
    }
    .accordion {
        border-radius: 10px;
        margin-bottom: 0;

        li:first-child a {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        li:last-child .accordion-content {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        li:last-child {
            border-bottom: 0;
        }

        .accordion-content {
            ul {
                list-style-type: disc;
            }

            a {
                color: $black;
                text-decoration: underline;

                &:active,
                &:focus,
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .accordion-item {
        .accordion-title {
            background-color: $secondary-color;
            color: $white;
            text-decoration: none;

            &:active,
            &:focus,
            &:hover {
                background-color: $primary-color;
                color: $black;
            }
        }

        &.is-active {
            .accordion-title {
                background-color: $primary-color;
                color: $black;
            }
        }

        .accordion-content p {
            margin-bottom: 0;
        }
    }

    .accordion-title {
        align-items: center;
        display: flex;
        font-weight: $global-weight-bold;
        justify-content: space-between;
        margin-bottom: 0;
        transition: all .2s ease-in-out;

        @include breakpoint(large) {
            font-size: rem-calc(21);
        }
    }
}
