html {
	scroll-behavior: smooth;
}

// Image Placement 
img, .wp-caption {
	display: block;
	height: auto;
	margin: $global-margin / 5 auto;
	max-width: 100%;
	overflow: hidden;

	&.alignleft { 
		float: left;
		margin: $global-margin * .5 $global-margin * 1.5 $global-margin * .5 $global-margin * .5;
	}

	&.alignright {
		float: right;
		margin: $global-margin * .5 $global-margin * .5 $global-margin * .5  $global-margin * 1.5;
	}

	&.aligncenter {
		margin: 0 auto;
		text-align: center;
	}

	.wp-caption-text {
		font-size: 0.8em;
		margin-bottom: 0;
		padding-bottom: $global-padding * .4;
		text-align: center;
	}
}