footer {
    background-color: $primary-color;
    padding: $global-padding * 2 0;

    @include breakpoint(large) {
        padding: $global-padding * 4 0;
    }

    .footer-widget {
        margin-bottom: $global-margin;

        .menu {
            display: flex;
            flex-direction: column;
        }

        .menu-item a {
            color: $black;
            font-size: rem-calc(18);
            margin: $global-margin * .75 0;
            padding: 0;
            text-decoration: underline;

            &:active,
            &:focus,
            &:hover {
                text-decoration: none;
            }
        }

        .textwidget {
            address {
                color: $black;
                font-size: rem-calc(18);
                font-style: normal;

            }

            p, a {
                color: $black;
                font-size: rem-calc(18);

                margin-bottom: 0;
            }

            a {
                text-decoration: underline;
            }
        }
    }

    .social-media-menu {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        margin-bottom: 0;
        margin-left: 0;

        &__item {
            margin-right: $global-margin * .75;

            a {
                .fa-circle {
                    color: $black;
                }

                &:active,
                &:focus,
                &:hover {

                    .fa-inverse {
                        color: $primary-color;
                        transition: color .5s linear;
                    }
                }
            }
        }
    }
}
