.frm_forms {
    .frm_primary_label {
        font-size: rem-calc(18);
        margin-bottom: $global-margin;
    }

    .frm_button_submit {
        @extend .button;
    }

    .frm_error,
    .frm_error_style {
        color: $alert-color;
        margin-bottom: $global-margin;
    }
}