header {
    .site-logo {
        span, a {
            color: $white;
        }
    }

    .top-banner {
        padding: $global-padding 0;

        a {
            color: $black;
            font-weight: $global-weight-bold;
            text-decoration: underline;
    
            &:active,
            &:focus,
            &:hover {
                color: $primary-color;
                text-decoration: none;
            }
        }
    }

    .tel-number,
    .email-address {
        align-items: center;
        display: flex;
        margin-bottom: $global-margin * .5;

        @include breakpoint(large) {
            margin-bottom: 0;
        }

        .fa-envelope,
        .fa-phone {
            color: $primary-color;
            margin-right: $global-margin * .75;
        }
    }

    .a11y-menu {
        display: flex;
        list-style-type: none;
        margin-bottom: 0;
        margin-left: 0;

        &__item {
            margin-right: $global-margin * .75;

            @include breakpoint(large) {
                margin-left: $global-margin;
                margin-right: 0;
            }

            .fas {
                color: $primary-color;

                @include breakpoint(medium) {
                    margin-right: $global-margin * .5;
                }   
            }
        }
    }
}

.site-alert {
    background-color: $light-gray;

    &__content {
        position: relative;
    }

    &__close {
        line-height: $global-lineheight;
        position: absolute;
        right: 0;

        &:active, &:focus, & :hover {
            cursor: pointer;
        }
    }

    &__message {
        color: $black;
        font-size: rem-calc(16);
        margin: $global-margin 0;

        .fa-exclamation-triangle {
            margin-right: $global-margin * .5;
        }

        a {
            color: $black;
            margin-left: $global-margin * .25;
            text-decoration: underline;
            transition: all ease .3s;
    
            &:active,
            &:focus,
            &:hover {
                color: $secondary-color;
            }
        }
    }
}