// templates/content-hero.php
.hero-banner {
    margin-bottom: $global-margin;
    
    &--image {
        background-repeat: no-repeat;
        background-size: cover;
    }

    // Blog featured image
    &--single {
        height: rem-calc(200);

        @include breakpoint(medium) {
            height: rem-calc(300);
        }

        @include breakpoint(large) {
            height: rem-calc(450);
        }
    }

    &__title {
        color: $primary-color;
    }

    &__content {
        background-color: $white-smoke;
        border-radius: 5px;
        margin: $global-margin * 3 0;
        opacity: .9;
        padding: $global-padding;

        @include breakpoint(medium) {
            margin: $global-margin * 4 0;
            padding: $global-padding * 2;
        }

        @include breakpoint(large) {
            margin: $global-margin * 8 0;
            padding: $global-padding * 2.5;
        }
    }

    &__excerpt {
        margin-bottom: 0;
    }
}