$high-contrast-black: #000000;
$high-contrast-primary: #00FFDC;
$high-contrast-secondary: #FFED00;

body.highContrast {
    background: $high-contrast-black;

    h1, h2, h3, h4, h5, h6 {
        color: $high-contrast-primary;
    }

    p, a, ul, li, i.fas, label {
        color: $high-contrast-secondary;
    }

    .fab {
        color: $high-contrast-black;
    }

    .navbar,
    .navbar-menu,
    .top-bar,
    .dropdown.menu {
        background: $high-contrast-black;

        & > li > a {
            background: $high-contrast-black;
            color: $high-contrast-secondary;
        }
    }

    a.highContrast {
        &:active,
        &:hover,
        &:focus {
            color: $high-contrast-primary;
        }
    }

    .site-alert {
        background-color: $high-contrast-secondary;

        p {
            color: $high-contrast-black;
        }
    }

    .button {
        background-color: $high-contrast-primary;
        border: 2px solid $high-contrast-black;
        color: $high-contrast-black;

        &:active,
        &:hover,
        &:focus {
            background-color: $high-contrast-secondary;
        }
    }

    footer {
        background: $high-contrast-black;

        .footer-widget address,
        .footer-widget .menu-item a,
        .footer-widget .textwidget a {
            color: $high-contrast-secondary;
        } 
    }

    // ACF Blocks
    .hero-banner__content,
    .cards-block__card-content {
        background: $high-contrast-black;
    }

    .cards-block__card-content {
        border: 2px solid $high-contrast-secondary;
    }

    .cards-block__card.link-box {
        &:active,
        &:focus,
        &:hover {
            .cards-block__card-link a {
                background-color: $high-contrast-primary;
            }
        }
    }

    .cards-block__card-link {
        background: $high-contrast-secondary;

        a {
            color: $high-contrast-black;

            &:active,
            &:focus,
            &:hover {
                background-color: $high-contrast-primary;
            }
        }
    }

    .accordion {
        .accordion-item.is-active .accordion-title {
            background-color: $high-contrast-secondary;
        }

        .accordion-title {
            background-color: $high-contrast-black;
            border: 1px solid $high-contrast-secondary;

            &:active,
            &:focus,
            &:hover {
                background-color: $high-contrast-secondary;
            }
        }

        .accordion-content {
            background-color: $high-contrast-black;
            border: 1px solid $high-contrast-secondary
        }
    }

    .latest-news {
        background-color: $high-contrast-secondary;

        &__card-intro,
        &__card-title {
            color: $high-contrast-black;
        }
    }
}
