#skiptocontent {
	height: 1px;
	width: 1px;
	position: absolute;
	overflow: hidden;
	top: -1000px;

	&:active, 
	&:focus {
		height: auto;
		width: auto;
		padding: $global-padding;
		background: $oil;
		color: $white;
		border: solid 3px $gainsboro;
		top: 1rem;
		left: 1rem;
		z-index: 999;
	}
}

a {
  transition: color .5s linear;

	// External link icon.
	&.external:not(.pdf) {
		&::after {
			content: "\f35d" / "";
			font-family: 'Font Awesome 5 Pro';
			font-weight: 900;
			margin-left: $global-margin / 2;
		}
	}

	// External PDF link icon.
	&.external.pdf {
		&::after {
			content: "\f35d\0020\f1c1" / "";
			font-family: 'Font Awesome 5 Pro';
			font-weight: 900;
			margin-left: $global-margin / 2;
		}
	}

	// Internal PDF icon.
	&.pdf:not(.external) {
		&::after {
			font-family: 'Font Awesome 5 Pro';
			font-weight: 900;
			content: "\f1c1"  / "";
			right: -$global-margin * 2;
			margin-left: $global-margin / 2;
		}
	}	
}x

.link-box {
	&:hover {
		cursor: pointer;
	}
}
