/* Remove the flash */
.no-js [data-responsive-toggle],
.no-js [data-responsive-menu] ul {
	 display: none!important;}
@media screen and (max-width:39.9em) {
	.no-js .top-bar {display: none; }
	.no-js .title-bar {display: flex;}
}

.title-bar {
	display: flex;
	justify-content: center;

	&__title {
		font-weight:$global-weight-bold;
		margin-left: $global-margin * 2;
	}
}

.menu-wrapper {
	padding: $global-padding 0;

	@include breakpoint(large) {
		padding: $global-padding * 2 0;
	}

	.grid-x.grid-padding-x {
		align-items: center;
		display: flex;
	}
}

:root {
	--transition-timing: 0.25s;
	--transition-timing-function: linear;
}
  
.navbar {
	background-color: $white;

	.drilldown {
		margin: 0;
		padding: 0;

		li {
			&.menu-item, &.is-submenu-item {
				padding: 0;
				margin-bottom: 0;

				a {
					background-color: $white;
					color: $body-font-color;
					padding: $global-padding * .7 $global-padding;

					&:active, &:focus, &:hover {
						background: $primary-color;
						color: $secondary-color;
					}
				}
			}

			&.is-drilldown-submenu-parent a {
				&:active, &:focus, &:hover {
					&:after {
						border-color: transparent transparent transparent $white;
					}
				}
			}

			&.js-drilldown-back a {
				&:active, &:focus, &:hover {
					&:before {
						border-color: transparent $white transparent transparent;
					}
				}
			}
		}

		ul, ol {
			margin: 0;
			padding: 0;
			background-color: $secondary-color;
		}
	} // End of Drilldown
	
	.navbar-menu {
		margin: 0;
		padding: 0;

		@include breakpoint(medium) {
			display: flex;
			list-style: none;
			justify-content: flex-end;
		}

		li {
			margin: 0;
			width: 100%;

			@include breakpoint(medium) {
				width: auto;
			}

			 &.menu-item-has-children > {
				a {
					align-items: center;
					display: flex;

					&:active, &:focus, &:hover {
						&:after {
							border-color: $white transparent transparent;
						}
					}

					&:after {
						display: block;
						width: 0;
						height: 0;
						border: inset rem-calc(6);
						content: '';
						border-bottom-width: 0;
						border-top-style: solid;
						border-color: $primary-color transparent transparent;
						margin-left: $global-margin / 2;
					}
				}
			}

			a {
				color: $body-font-color;
				display: block;
				padding: $global-padding;
				text-decoration: none;
				background-color: $white;

				&:active, &:focus, &:hover{
					background: $primary-color;
					color: $secondary-color;
				}
			}

			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				visibility: hidden;
				background-color: $white;
				transition:
					visibility 0s var(--transition-timing-function) var(--transition-timing),
					opacity var(--transition-timing) var(--transition-timing-function);

				@include breakpoint(medium) {
					position: absolute;
					left: 0;
					top: 100%;
					width: 250px;
					z-index: 99;
				}

				li {
					display: block;

					&.menu-item-has-children > {
						
						a {
							&:active, &:focus, &:hover {
								&:after {
									border-color: transparent transparent transparent $white;
								}
							}
							
							&:after {
								display: block;
								width: 0;
								height: 0;
								border: inset 6px;
								content: '';
								border-right-width: 0;
								border-left-style: solid;
								border-color: transparent transparent transparent $primary-color;
							}
						}
					}
				}
			}

			li { 
				ul {
					@include breakpoint(medium) {
						left: 250px;
						top: 0;
					}
				}
			}
		}
	}
}
  
/* Top-level */
.navbar > .navbar-menu > li > a {
	background-color: $white;
	transition:
		background-color var(--transition-timing) var(--transition-timing-function),
		color var(--transition-timing) var(--transition-timing-function);

	@include breakpoint(medium) {
		display: inline-block;
	}
}

.navbar-menu ul > li > ul {
	@include breakpoint(medium) {
		left: 100%;
		top: 0;
	}
}
  
.navbar-menu li {
	position: relative;
}
  
.navbar-menu li:hover > ul,
.navbar-menu li:focus-within > ul /* IE11+ only */ {
	display: block;
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}
  