#pagination {
	padding: $global-padding * 2 0;

	.page-numbers {
		margin: 0;

		li {
			list-style: none;
			display: inline-block;

			a {
				border: solid 2px transparent;
				padding: $global-padding / 2 $global-padding;
				padding: $global-padding / 2;

				@include breakpoint(medium) {
					padding: $global-padding / 2 $global-padding;
				}

				&:active, 
				&:hover, 
				&:focus {
					color: $secondary-color;
					border: solid 2px $primary-color;
				}
			}

			span:not(.dots) {
				padding: $global-padding / 2 $global-padding;
				padding: $global-padding / 2;
				border: solid 2px $secondary-color;

				@include breakpoint(medium) {
					padding: $global-padding / 2 $global-padding;
				}
			}
		}
	}
}