
@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/poppins/poppins-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/poppins/poppins-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/poppins/poppins-medium-webfont.woff2') format('woff2'),
         url('../../assets/fonts/poppins/poppins-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/poppins/poppins-bold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/poppins/poppins-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/poppins/poppins-extrabold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/poppins/poppins-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}